.maindevforthewholeproject{
    width:65%;
    margin: auto;
    margin-top: 10rem;
}
.maincontanerforprojects{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 10rem;
    
}
.projectsimages{
    width: 400px;


}
.Projects{
    font-size: 40px;
    font-weight: 600;
   
}
.prjectsname{
    font-size: 25px;
    font-weight: 600;
}
.forporojectscontent{
    display: flex;
    flex-direction: column;
}
.projectsimage3{
    width: 400px;
   
}
.descriptionforprojects{
    width: 80%;
}